{% extends "base.html" %}

{% block content%}
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-8 text-left">
      <h1>Training Image Annotation Portal</h1>
      <p>Complete image annotation using the below interface. All annotations will be converted into .txt coordinate file.</p>
      <hr>
      <h3> Project Name: {{ project_name }}  <br> Image: {{ image }}</h3>
      <div class="container-fluid">
        <form action="/next-image">
              <section class="row">
                <div column>
                  <img class="img-responsive" src="{{ '/' + project_name + '/dataset/images/train/' + image }}" alt="{{ image }}" style="width:200px;height:200;">
                  <p>{{ image }}</p>
                </div>
              </section>
            <input type="submit" value="Next Image">
          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}