{% extends "base.html" %}

{% block content%}
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-8 text-left">
      <h1>Training Image Annotation Portal</h1>
      <p>Complete immage annotation using the below interface. All annotations will be converted into .txt coordinate file.</p>
      <hr>
      <h3> project_name #fix this using jinja </h3>
      <div>
        <form action="/">
            add current image here<br><br>
            
            <input type="submit" value="Start">
          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}